## Request

{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        "expression": "tid = :id",
        "expressionValues" : {
            ":id" : $util.dynamodb.toDynamoDBJson($ctx.args.tid)
        }
    }
}

## Response
$util.toJson($ctx.result.items)