## Request

{
    "operation": "GetItem",
    "key": {
        "id": $util.dynamodb.toDynamoDBJson($ctx.identity.sub),
    }
}

## Response
#if($ctx.error)
    $util.error($ctx.error.message, $ctx.error.type)
#end

#if($ctx.result.coin < $ctx.stash.get("price"))
    $util.error("User doesn't have enough coin")
#end

$util.qr($ctx.stash.put("source", $ctx.result))

{}